@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-oswald {
    font-family: "Oswald", sans-serif;
}


.wrapper {
    width: 98%;
    max-width: 1300px;
    margin: auto;
    height: 100%;
}
.nav{
     background: #525AA0;
}

input#customPlaceholder::placeholder {
    color: transparent;
}

input#customPlaceholder::before {
    content: 'Looking for ';
    color: black;
    font-weight: bold;
}

input#customPlaceholder::after {
    content: ' design |';
    color: grey;
}

.slanted-lines-container {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.slanted-lines-container::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200px; /* Adjust the height as needed */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-5deg) translateY(-50%); /* Adjust the angle and position as needed */
    transform-origin: top right;
}

.slanted-lines-container::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 2px;
    background: rgba(0, 0, 255, 0.5);
    transform: rotate(-5deg) translateY(20px); /* Adjust the angle and position as needed */
    transform-origin: top right;
    box-shadow: 
        0 20px 0 rgba(0, 0, 255, 0.5),
        0 40px 0 rgba(0, 0, 255, 0.5),
        0 60px 0 rgba(0, 0, 255, 0.5),
        0 80px 0 rgba(0, 0, 255, 0.5),
        0 100px 0 rgba(0, 0, 255, 0.5),
        0 120px 0 rgba(0, 0, 255, 0.5);
}

.market-section-bg {
    background-color:#EDEFFF ;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
}

